RandomSeed=1
NumDarkMatterParticles=512
NumGasParticles=512

TotalDarkMatterMass=106.0e10
TotalGasMass=10.108e10
SimulationRadius=200.0
InitialCloudRadius=100.0
CloudEdgeSpeed=50.0

NumSteps=200
MaxDeltaTime=0.005
MaxTimeBin=8
CourantConstant=0.3

GravitationConst=4.51179e-6
GravSofteningDist=5.0
BarnesHutTheta=0.4

InitialSmoothingLength=20.0
PressureConstA=144.97
AdiabaticIndex=1.0
ViscositySofteningDist=0.1
TargetNumNeighbours=60
NeighbourTolerance=10
