config=../config/sellwoodgalaxy_full.config
darkmatter_position=../output/DarkMatter_position.np
darkmatter_position_final=../output/DarkMatter_position_final.np
darkmatter_velocity=../output/DarkMatter_velocity.np
darkmatter_density=../output/DarkMatter_density.np
gas_position=../output/Gas_position.np
gas_position_final=../output/Gas_position_final.np
gas_velocity=../output/Gas_velocity.np
gas_density=../output/Gas_density.np