RandomSeed=2
NumDarkMatterParticles=1250
NumGasParticles=0

TotalDarkMatterMass=1.0
TotalGasMass=0.0
SimulationRadius=80.0
InitialSmoothingLength=0.2

NumSteps=30000
MaxDeltaTime=0.04
MaxTimeBin=8
CourantConstant=0.3

GravitationConst=1.0
GravSofteningDist=0.07
BarnesHutTheta=0.4

PressureConstA=1.0
AdiabaticIndex=1.6666666666
ViscositySofteningDist=0.1
UseViscosity=true
TargetNumNeighbours=50
NeighbourTolerance=5

UseSellwoodModel=true
SellwoodRMSVerticalThickness=0.05
SellwoodTruncationRadius=5.0
ToomreQ=1.5
SellwoodV0=1.1
SellwoodCoreRadius=30.0

AccretionStartStep=4000
AccretionEndStep=25000
StepsBetweenAccretion=4
ParticlesAddedPerStep=1
AccretionMinRadius=8.0
AccretionMaxRadius=12.0

NFW_Rs=16.5
NFW_Rho0=1.1e-4

NumThreads=12
