RandomSeed=2
NumDarkMatterParticles=0
NumGasParticles=400

TotalDarkMatterMass=0
TotalGasMass=2.0
SimulationRadius=10.0
InitialCloudRadius=0.75
CloudEdgeSpeed=0.0
InitialSmoothingLength=1.0

NumSteps=1000
MaxDeltaTime=0.04
MaxTimeBin=8
CourantConstant=0.3

PressureConstA=0.1
AdiabaticIndex=2.0
ViscositySofteningDist=0.1
UseViscosity=true
TargetNumNeighbours=50
NeighbourTolerance=5

UseToyStarModel=true
UseToyStarFluidEquation=false
ToyStarLambda=2.012
ToyStarDamping=1.0
